# Dependencies
node_modules/

# Build outputs
.next/
out/
build/
*.tsbuildinfo

# Next.js
next-env.d.ts
.next
dist
build

# pnpm
pnpm-lock.yaml

# Environment variables
.env*.local
.env

# Testing
coverage/

# Misc
.DS_Store
*.log
.idea/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
